# GitHub.Verification

Provides struct and type for a Verification